@import './../../library/style/phone_global.scss';

.otherscentre-wrap {
    .header-wrap {
        background-color: rgba($color: #000000, $alpha: 0);
        box-shadow: none;
    }
    .otherscentre-header .right-item img {
        width: 0.16rem;
    }
    .header-wrap {
        background-color: #5496FF;
    }
}

// OtherscentreUserWrap 头部用户基本资料
.otherscentreuser-wrap {
    width: 100%;
    height: 1.96rem;
    padding: 0.80rem 0.1rem 0;
    background: url('./../../images/others_centre/header_bg_image.png') center center #5496FF;
    .otherscentreuser-info {
        display: flex;
        align-items: center;
        margin-bottom: 0.15rem;
        .info-user {
            display: flex;
            flex: 1;
            align-content: center;
            .user-img {
                position: relative;
                border-radius: 0.08rem;
                background-color: hsl(0,0%,89%);  
                width: 0.58rem;
                height: 0.58rem;
                margin-right: 0.1rem;
            }
            .user-img-containers {
                width: 100%;
                height: 100%;
                border-radius: 0.08rem;
                background-color: #FFFAFB;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .user-img-verify {
                position: absolute;
                right: -0.01rem;
                bottom: -0.01rem;
                width: 0.18rem;
                height: 0.18rem;
                background: url('./../../images/component/verify2.png') no-repeat;
            }
            .user-data {
                display: flex;
                flex-direction: column;
                .user-data-name {
                    font-size: 0.17rem;
                    color: #FFFFFF;
                    line-height: 1;
                    margin-bottom: 0.1rem;
                    span {
                        margin-left: 0.1rem;
                        font-size: 0.12rem;
                    }
                }
                .user-data-external {
                    display: flex;
                    color: #FFFFFF;
                    font-size: 0.12rem;
                    .external-item {
                        
                    }
                    .external-info {
                        
                        padding: 0 0.15rem;
                    }
                }
            }
        }
        .info-attention {
            height: 0.22rem;
            padding: 0 0.08rem; 
            color: #b8b8bd;
            display: flex;
            font-size: 0.12rem;
            justify-content: center;
            align-items: center;
            background-color: #FFFFFF;
            border-radius: 0.1rem;
        }
    }
    .otherscentreuser-intro {
        font-size: 0.12rem;
        color: #FFFEFE;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

// OtherscentreFunctionWrap 用户展示列表
.otherscentrefunction-wrap {
    width: 100%;
    .otherscentrefunction-item {
        display: flex;
        padding: 0 0.1rem;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 0.54rem;
        border-bottom: 0.01rem solid #EFEFF4;
        .item-content {
            display: flex;
            .item-content-tag {
                width: 0.15rem;
                height: 0.15rem;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
            }
            .item-content-txt {
                margin-left: 0.1rem;
                font-size: 0.14rem;
                color: #212121;
            }
        }
        .item-more {
            float: right;
            width: 0.15rem;
            height: 0.15rem;
            @include background-image-wrap("./../../images/component/nav_left3.png");
        }
    }
}