.nodata {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: rgb(41, 41, 41);
    .nodata-expression {
        font-size: .22rem;
        text-align: center;
        line-height: .38rem;
    }
    .nodata-title {
        font-size: .14rem;
        line-height: .24rem;
        text-align: center;
    }
}