.header-wrap {
  width: 100%;
  height: 0.5rem;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 0 0.1rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  background-color: #FFFFFF;
  color: #ffffff;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1); }
  .header-wrap .header-wrap-center, .header-wrap .header-wrap-right, .header-wrap .header-wrap-left {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
  .header-wrap .header-img1 {
    width: 0.16rem;
    height: 0.16rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; }
  .header-wrap .header-wrap-center {
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    height: 100%;
    font-size: 0.16rem; }
  .header-wrap .right-item, .header-wrap .left-item, .header-wrap .center-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    margin-right: 0.1rem; }
  .header-wrap .right-item:last-of-type {
    margin-right: 0; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body, button, ul, p, h1, h2, h3, h4, h5, h6, dl, dt, dd, table, tr, td {
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-weight: normal; }

body {
  background-color: #ffffff !important;
  font-family: 'PingFang SC', 'Microsoft YaHei', 'STHeiti','sans-serif'; }

#istore-app {
  font-size: 0.16rem;
  max-width: 800px;
  margin: 0 auto; }

.maxwidth {
  max-width: 800px;
  margin: 0 auto; }

li {
  list-style: none; }

i {
  font-style: normal; }

button, input {
  border: none;
  outline: none; }

input {
  -webkit-appearance: none; }

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset; }

input[type=text]:focus, input[type=password]:focus, textarea:focus {
  -webkit-box-shadow: 0 0 0 1000px white inset; }

input[type=number] {
  -moz-appearance: textfield; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

a {
  text-decoration: none; }

img {
  border: none; }

.model-open {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  max-width: 800px;
  overflow: hidden; }

.hide {
  display: none !important; }

.max-limit {
  width: 100%;
  max-width: 800px;
  left: 50% !important;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.realingrecord-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  background: #F6F6F6;
  width: 100%; }
  .realingrecord-wrap .realingrecord-container {
    width: 100%; }
    .realingrecord-wrap .realingrecord-container .realingrecord-header {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
      margin-right: 0.92rem;
      width: 100%;
      height: 0.5rem;
      padding: 0 0.15rem;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      background-color: #FFFFFF;
      font-size: .18rem;
      border-bottom: .01rem solid #EEEEEE; }
      .realingrecord-wrap .realingrecord-container .realingrecord-header .header-left {
        width: .09rem;
        height: .17rem;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAARCAYAAAAPFIbmAAAA+0lEQVQoU4WSrU7EUBSEz9RVYO678A4IAoZUsEnDj2mCKxJEE9bBGhA956IAhwOHw2F4jvZqEkpCIEO6SUlh292rvzuZmTOQJU9VLwFsYYxR1RmAHIAOQmY2FZETEbmr63pvAVLVUwBnJO+dc7tJknz/gczsWEQuADxUVbVTFMVXa+cXMrMjEbki+eSc206S5LPzO4dU9RCAJ/ncNM1mnucf/UDw3k9I3ojISxzHG2mavv9PDDN7E5E1kutZlr0OVYKyLCdRFC1Xan967w9IXo966uRXpuuBbU/nJB9DCIs99cD2HNPRxnvg/HYkb0MI+ytXQHJ4BZ1it6cf2CqKMGHhPIwAAAAASUVORK5CYII=);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat; }
      .realingrecord-wrap .realingrecord-container .realingrecord-header .header-title {
        color: #000000;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: column;
            flex-flow: column;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-align: center;
            align-items: center; }
        .realingrecord-wrap .realingrecord-container .realingrecord-header .header-title .header-number {
          font-style: normal;
          font-size: .12rem; }
    .realingrecord-wrap .realingrecord-container .realingrecord-details {
      margin-top: .5rem; }
      .realingrecord-wrap .realingrecord-container .realingrecord-details .realingrecord-table {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: column;
            flex-flow: column;
        width: 100%;
        background: #ffffff; }
        .realingrecord-wrap .realingrecord-container .realingrecord-details .realingrecord-table .realingrecord-table-header {
          width: 100%;
          background-color: #F6F6F6;
          padding: .17rem 0;
          font-size: .12rem; }
          .realingrecord-wrap .realingrecord-container .realingrecord-details .realingrecord-table .realingrecord-table-header .realingrecord-header-content {
            color: #999999;
            text-align: center; }
        .realingrecord-wrap .realingrecord-container .realingrecord-details .realingrecord-table:last-child {
          margin-bottom: 1rem; }
        .realingrecord-wrap .realingrecord-container .realingrecord-details .realingrecord-table .realingrecord-table-body {
          padding: 0 .15rem; }
          .realingrecord-wrap .realingrecord-container .realingrecord-details .realingrecord-table .realingrecord-table-body .realingrecord-item {
            background-color: #ffffff;
            padding: .15rem 0;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
            -ms-flex-pack: justify;
                justify-content: space-between; }
            .realingrecord-wrap .realingrecord-container .realingrecord-details .realingrecord-table .realingrecord-table-body .realingrecord-item:not(:last-child) {
              border-bottom: .01rem solid #ccc; }
            .realingrecord-wrap .realingrecord-container .realingrecord-details .realingrecord-table .realingrecord-table-body .realingrecord-item .realingrecord-item-left {
              height: .5rem;
              margin-left: .15rem;
              -ms-flex: 1 1;
                  flex: 1 1;
              display: -ms-flexbox;
              display: flex;
              -ms-flex-flow: column;
                  flex-flow: column;
              -ms-flex-pack: justify;
                  justify-content: space-between; }
              .realingrecord-wrap .realingrecord-container .realingrecord-details .realingrecord-table .realingrecord-table-body .realingrecord-item .realingrecord-item-left .realingrecord-left-pay {
                font-size: .14rem; }
              .realingrecord-wrap .realingrecord-container .realingrecord-details .realingrecord-table .realingrecord-table-body .realingrecord-item .realingrecord-item-left .realingrecord-left-date {
                font-size: .12rem;
                color: #999999;
                padding-top: .05rem; }
            .realingrecord-wrap .realingrecord-container .realingrecord-details .realingrecord-table .realingrecord-table-body .realingrecord-item .realingrecord-item-right {
              text-align: right; }
              .realingrecord-wrap .realingrecord-container .realingrecord-details .realingrecord-table .realingrecord-table-body .realingrecord-item .realingrecord-item-right .realingrecord-right-deal {
                color: #999999;
                font-size: .12rem;
                padding-top: .14rem; }
  .realingrecord-wrap .realingrecord-pay {
    width: 100%;
    height: .5rem;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    text-align: center;
    line-height: .5rem;
    color: #3699FF;
    font-size: .18rem; }
    .realingrecord-wrap .realingrecord-pay .realingrecord-pay-text {
      -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
              box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1); }

