.header-wrap {
  width: 100%;
  height: 0.5rem;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 0 0.1rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  background-color: #FFFFFF;
  color: #ffffff;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1); }
  .header-wrap .header-wrap-center, .header-wrap .header-wrap-right, .header-wrap .header-wrap-left {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
  .header-wrap .header-img1 {
    width: 0.16rem;
    height: 0.16rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; }
  .header-wrap .header-wrap-center {
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    height: 100%;
    font-size: 0.16rem; }
  .header-wrap .right-item, .header-wrap .left-item, .header-wrap .center-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    margin-right: 0.1rem; }
  .header-wrap .right-item:last-of-type {
    margin-right: 0; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body, button, ul, p, h1, h2, h3, h4, h5, h6, dl, dt, dd, table, tr, td {
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-weight: normal; }

body {
  background-color: #ffffff !important;
  font-family: 'PingFang SC', 'Microsoft YaHei', 'STHeiti','sans-serif'; }

#istore-app {
  font-size: 0.16rem;
  max-width: 800px;
  margin: 0 auto; }

.maxwidth {
  max-width: 800px;
  margin: 0 auto; }

li {
  list-style: none; }

i {
  font-style: normal; }

button, input {
  border: none;
  outline: none; }

input {
  -webkit-appearance: none; }

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset; }

input[type=text]:focus, input[type=password]:focus, textarea:focus {
  -webkit-box-shadow: 0 0 0 1000px white inset; }

input[type=number] {
  -moz-appearance: textfield; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

a {
  text-decoration: none; }

img {
  border: none; }

.model-open {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  max-width: 800px;
  overflow: hidden; }

.hide {
  display: none !important; }

.max-limit {
  width: 100%;
  max-width: 800px;
  left: 50% !important;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.businessofficeconter-wrap .businessofficeconter-header .header-wrap {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none; }

.businessofficeconter-wrap .businessofficeconter-header .header-left {
  width: 0.1rem;
  height: 0.17rem;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAiCAYAAABStIn6AAAB6klEQVRIS62Wy6uOURTGf49Lkr/Av6JwjmsG5xRlQAyUycFEMSAmxIBSJ+UycCmXEQOKgRgZkcIAhYSiKEWSiXq0tL/T8vq+8+73zR7uWr+919rPs9YWPZftucAFYBMwrT4c23OAywUSiF+dQbYj5hywLV3iSh/QKWAqQW4DGzqBbJ8AdifIPWBC0s9qkO2jwL4EuQ+sk/Qj9qpAtg8ChxLkIbBK0vfBXivI9l7gWII8AcYlfc0vPivI9i7gZAp4BiyX9KUpm5Eg29uBs0BoJtZLYJmkT8O0NxRke2tRbag31psC+TBKwP+AbG8ErgLzStD7ks7b2VzwF8j2JHANmF+CPgJjkl61WWkGZHstcANYUIKiFiskPW+DzOjI9jhwC1hYguJVVkp6WgP5A7K9BLgDLCpB34rYHtVCBqCow+IUtEPS6S6QUaApSWf6gJqphfRXS+qWWpxsewyIvtK/2IMUbK8BbjaeP8z5oibNpiAngOsNQYZJX7fBai0SZn1XbZGU5hbgItDftAk2rI0slfS5uo0k2M7S2AYl6N7YEmwPcDzd4nExc32rTbADwOEEe1BEW9/8E+wIsD/Buo+jBGsOyLvAZKcBmWDDRvb61rnWfOr/9okoJo8RdQnYXA7q/q1JKYbqzxfY9G+TVsBuCGQQigAAAABJRU5ErkJggg==);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

.businessofficeconter-wrap .businessofficeconter-header .header-title {
  line-height: 1;
  font-size: 0.18rem;
  color: #FFFFFF; }

.businessofficeconter-wrap .businessofficeconter-main {
  padding: 0.54rem 0 0.18rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#5CB3F9), to(#4378F2));
  background: -webkit-linear-gradient(top, #5CB3F9, #4378F2);
  background: -o-linear-gradient(top, #5CB3F9, #4378F2);
  background: linear-gradient(to bottom, #5CB3F9, #4378F2); }
  .businessofficeconter-wrap .businessofficeconter-main .businessofficeconter-main-header {
    padding: 0 0.38rem; }
    .businessofficeconter-wrap .businessofficeconter-main .businessofficeconter-main-header .header-logon {
      width: 0.65rem;
      height: 0.17rem;
      margin-bottom: 0.15rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain; }
    .businessofficeconter-wrap .businessofficeconter-main .businessofficeconter-main-header .header-phone {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      width: 100%;
      height: 0.45rem;
      padding: 0 0.16rem 0 0.1rem;
      border: 0.01rem solid #FFFFFF;
      border-radius: 0.03rem; }
      .businessofficeconter-wrap .businessofficeconter-main .businessofficeconter-main-header .header-phone .header-phone-number {
        -ms-flex: 1 1;
            flex: 1 1;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
            align-items: center;
        margin-right: 0.1rem;
        font-size: 0.18rem;
        color: #FFFFFF;
        line-height: 1; }
      .businessofficeconter-wrap .businessofficeconter-main .businessofficeconter-main-header .header-phone .phone-number-text {
        margin-left: 0.1rem;
        font-size: 0.12rem;
        color: #AAC9FF;
        line-height: 1; }
      .businessofficeconter-wrap .businessofficeconter-main .businessofficeconter-main-header .header-phone .header-phone-img {
        width: 0.09rem;
        height: 0.17rem;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAiCAYAAABStIn6AAAB70lEQVRIS62Wy6tNYRjGf0+JJFGKopBQGKDEyIgMjmLAyKVcBi4lpRgQE2JAmeBMlAExUBQDuZ6DP8ZfIMnl0at3n769rbX3Wmt7Z6vW8+t7769s3wLOAk+Ao5J+0cFk+wcwK7UBOyTpd1tWgB4BBwvhA+C4JLeBBWgO8AyYKISTkk63AsXPtucCL4Edhfi2pHNNYer9aHse8ArYXohvSLrYBDYDypfNB94BWwvxFUlXR8H6QAlbCEwBmwrxBUk3h8H+ASVsEfAR2FCIz0i6UwerBCVsCfAJWJviqK0Tku5XwWpBCVuWsFUpjqqP6n84CBsKStjKdHN5in8CByQ9LWEjQQlbA0wDS1McbbVf0oserBEoYeuBD0DELuw7sFfS6/hoDErYRuA9EFkN+wbsljTVCpSwLVm0CxL2FdjVGpSwU8C9IthfuoJOApNjgWyHa2+BaKWw9q7Zrgr2hKTpxq7ZXpfNXKZ/j6Q3jdNve3VWd1mQ+yTFMPxrI19ke0X2W/cWsV3VtEckxcLos2FjZDHweawxYntwsMVqisF2d/AltTGyHfURzbm5EJ2XFBu51qqGfxTbtkJxWdK1YZC+rNWso+uSLo2CzIByQcaQ2lmI2i1I27OB52Ov7P95RJRnzWPgcNezpndoBeRY10PrDxXfvVfxwRoGAAAAAElFTkSuQmCC);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat; }

.businessofficeconter-wrap .businessofficeconter-info-checkbalance {
  padding-top: 0.25rem;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  font-size: 0.12rem;
  color: #212121; }

.businessofficeconter-wrap .businessofficeconter-info-serach {
  padding: 0.25rem 0.4rem; }
  .businessofficeconter-wrap .businessofficeconter-info-serach .serach-list {
    overflow: hidden; }
  .businessofficeconter-wrap .businessofficeconter-info-serach .serach-list-item {
    float: left;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center; }
  .businessofficeconter-wrap .businessofficeconter-info-serach .serach-list-item-img {
    width: 0.18rem;
    height: 0.29rem;
    margin-bottom: 0.1rem;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAA6CAYAAAA6AOAKAAAB/klEQVRoQ+2ZwUtUURTGf2dGCXFTpqtchbiwFCRGsLB/QCQIxXXg4im0SdqIUqJLcSFiPmzRrkWCRf4FSi1mdpqboFa2CCLdmATOO/ImDNSp9+57M5PBect3z/nOd7/7cRf3E4DOJb3SkGUKGFK4JiDh/2p+CirwBXh1WGRme0z25JavzVl4B7RXc3gE9sci3JGcrysCIzGIfAVeI2iM2l8liijcF2iJ6lF4HpLZE7gcWazMFTx5HFV3dj3n65zAeFSfwr70+Bp3pzsoi1Gg59aFh0BHnD4XMnHwUtVcXDKqTATCWqrtOTRnYRh4etJyShkNeFAYlRcOeKlKe5bVQ3hmZM7KaMr8yVimjCnjeumYZ8wz5hlXBcwzrorZPWOeMc+4KmCecVXM7hnzjHnGVQHzjKtids/8/55BeRkIedezT1qfgdthXlH2TS8paKX6Lu47cKV2mBQnrTJFVVZF2Fa4KTAI1NWcTBheodwrePL2ZHhuWQcQ3iQNz5Iro2zmPblb5m13A6EviTppyKznPRk4R8bXdaC/tmTghxbpLIzJ59/HtKTXJcMHhIZakwnn7QLTQcBWJkMX8ARoTUIk7AmP6RtwNSlApfpKsaBDYFqpuWVxSoFp94K21F/iPdBW1Wl/AVf4dPST3lKYfmNemxobmfxXIfvBAbM7j+T7MZmE/VLXToF9AAAAAElFTkSuQmCC);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; }
  .businessofficeconter-wrap .businessofficeconter-info-serach .serach-list-item-title {
    line-height: 1;
    font-size: 0.15rem;
    color: #212121; }

.businessofficecontercheckbalance-wrap .businessofficecontercheckbalance-info {
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.6rem;
  padding: 0 0.45rem; }
  .businessofficecontercheckbalance-wrap .businessofficecontercheckbalance-info .businessofficecontercheckbalance-info-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    color: #FFFFFF; }
    .businessofficecontercheckbalance-wrap .businessofficecontercheckbalance-info .businessofficecontercheckbalance-info-item .item-title {
      -webkit-transform: translateX(0.05rem);
          -ms-transform: translateX(0.05rem);
              transform: translateX(0.05rem);
      margin-bottom: 0.17rem;
      font-size: 0.15rem;
      line-height: 1;
      white-space: nowrap; }
    .businessofficecontercheckbalance-wrap .businessofficecontercheckbalance-info .businessofficecontercheckbalance-info-item .item-price {
      margin-bottom: 0.1rem;
      font-size: 0.15rem;
      line-height: 1; }
    .businessofficecontercheckbalance-wrap .businessofficecontercheckbalance-info .businessofficecontercheckbalance-info-item .item-label {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      height: 0.27rem;
      padding: 0 0.06rem;
      line-height: 1;
      font-size: 0.15rem;
      background-color: rgba(255, 255, 255, 0.2); }
  .businessofficecontercheckbalance-wrap .businessofficecontercheckbalance-info .businessofficecontercheckbalance-info-split {
    margin: 0.05rem 0.48rem 0;
    width: 0.01rem;
    height: 0.75rem;
    border-right: 0.01rem solid #CCCCCC; }

.businessofficeconteraddsearch-wrap .businessofficeconteraddsearch-info {
  margin-top: 0.3rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  padding: 0 0.38rem;
  line-height: 1; }
  .businessofficeconteraddsearch-wrap .businessofficeconteraddsearch-info .info-left {
    -ms-flex: 1 1;
        flex: 1 1; }
    .businessofficeconteraddsearch-wrap .businessofficeconteraddsearch-info .info-left .info-left-title {
      font-size: 0.15rem;
      color: #FFFFFF;
      margin-bottom: 0.13rem; }
    .businessofficeconteraddsearch-wrap .businessofficeconteraddsearch-info .info-left .info-left-subtitle {
      font-size: 0.12rem;
      line-height: 1;
      color: #AAC9FF; }
  .businessofficeconteraddsearch-wrap .businessofficeconteraddsearch-info .businessofficeconteraddsearch-info-img {
    width: 0.09rem;
    height: 0.17rem;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAiCAYAAABStIn6AAAB70lEQVRIS62Wy6tNYRjGf0+JJFGKopBQGKDEyIgMjmLAyKVcBi4lpRgQE2JAmeBMlAExUBQDuZ6DP8ZfIMnl0at3n769rbX3Wmt7Z6vW8+t7769s3wLOAk+Ao5J+0cFk+wcwK7UBOyTpd1tWgB4BBwvhA+C4JLeBBWgO8AyYKISTkk63AsXPtucCL4Edhfi2pHNNYer9aHse8ArYXohvSLrYBDYDypfNB94BWwvxFUlXR8H6QAlbCEwBmwrxBUk3h8H+ASVsEfAR2FCIz0i6UwerBCVsCfAJWJviqK0Tku5XwWpBCVuWsFUpjqqP6n84CBsKStjKdHN5in8CByQ9LWEjQQlbA0wDS1McbbVf0oserBEoYeuBD0DELuw7sFfS6/hoDErYRuA9EFkN+wbsljTVCpSwLVm0CxL2FdjVGpSwU8C9IthfuoJOApNjgWyHa2+BaKWw9q7Zrgr2hKTpxq7ZXpfNXKZ/j6Q3jdNve3VWd1mQ+yTFMPxrI19ke0X2W/cWsV3VtEckxcLos2FjZDHweawxYntwsMVqisF2d/AltTGyHfURzbm5EJ2XFBu51qqGfxTbtkJxWdK1YZC+rNWso+uSLo2CzIByQcaQ2lmI2i1I27OB52Ov7P95RJRnzWPgcNezpndoBeRY10PrDxXfvVfxwRoGAAAAAElFTkSuQmCC);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; }

