.header-wrap {
  width: 100%;
  height: 0.5rem;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 0 0.1rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  background-color: #FFFFFF;
  color: #ffffff;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1); }
  .header-wrap .header-wrap-center, .header-wrap .header-wrap-right, .header-wrap .header-wrap-left {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
  .header-wrap .header-img1 {
    width: 0.16rem;
    height: 0.16rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; }
  .header-wrap .header-wrap-center {
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    height: 100%;
    font-size: 0.16rem; }
  .header-wrap .right-item, .header-wrap .left-item, .header-wrap .center-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    margin-right: 0.1rem; }
  .header-wrap .right-item:last-of-type {
    margin-right: 0; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body, button, ul, p, h1, h2, h3, h4, h5, h6, dl, dt, dd, table, tr, td {
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-weight: normal; }

body {
  background-color: #ffffff !important;
  font-family: 'PingFang SC', 'Microsoft YaHei', 'STHeiti','sans-serif'; }

#istore-app {
  font-size: 0.16rem;
  max-width: 800px;
  margin: 0 auto; }

.maxwidth {
  max-width: 800px;
  margin: 0 auto; }

li {
  list-style: none; }

i {
  font-style: normal; }

button, input {
  border: none;
  outline: none; }

input {
  -webkit-appearance: none; }

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset; }

input[type=text]:focus, input[type=password]:focus, textarea:focus {
  -webkit-box-shadow: 0 0 0 1000px white inset; }

input[type=number] {
  -moz-appearance: textfield; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

a {
  text-decoration: none; }

img {
  border: none; }

.model-open {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  max-width: 800px;
  overflow: hidden; }

.hide {
  display: none !important; }

.max-limit {
  width: 100%;
  max-width: 800px;
  left: 50% !important;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.paysucceedconent-wrap {
  padding-top: 0.5rem;
  background-color: #FFFFFF; }
  .paysucceedconent-wrap .paysucceedconent-header .header-title {
    line-height: 1;
    font-size: 0.18rem;
    color: #212121; }
  .paysucceedconent-wrap .paysucceedconent-header .header-right {
    line-height: 1;
    font-size: 0.15rem;
    color: #5895FF; }
  .paysucceedconent-wrap .paysucceedconent-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    padding: 0.3rem 0.36rem 0.15rem 0.76rem; }
    .paysucceedconent-wrap .paysucceedconent-list .am-steps-item-icon > .am-steps-icon .am-icon {
      border: .02rem solid #bbb;
      border-radius: 50%; }
    .paysucceedconent-wrap .paysucceedconent-list .am-steps-vertical .am-steps-item-description {
      color: #999999; }
    .paysucceedconent-wrap .paysucceedconent-list .am-steps-vertical .am-steps-item-content {
      padding-left: 0.1rem; }

